@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: #222222;
    color:white;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #222222; 
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.navbar, .card {
    background-color: #131313;
}

.navbar-brand {
    font-style: italic;
    font-weight: 700;
    font-size: 1.2rem;
}

#navbarSupportedContent > ul > li:nth-child(n) > a {
    font-size: 1.1rem;
    color: #ffffff;
    margin-top: 2px;
}

#navbarSupportedContent > ul > li:nth-child(n) > a:hover {
    color:#0071BC;
}

.btn-group-wrap {
    text-align: center;
}

div.btn-group,
#multiplierButton {
    margin: 0 auto; 
    text-align: center;
    width: inherit;
    display: inline-block;
}

div.btn-group button,
#multiplierButton button,
#multiplierModal > div > div > div.modal-body > form > div > div.col-lg-12.col-xl-12.mt-3.text-center > button {
    background-color: #131313;
}

div.btn-group button:hover,
#multiplierButton button:hover,
#multiplierModal > div > div > div.modal-body > form > div > div.col-lg-12.col-xl-12.mt-3.text-center > button:hover {
    background-color: #0071BC;
}

.card-img-top {
    width: 100%;
    height: 30vw;
    object-fit: cover;
}

.cardFade {
    display: none;
}

#team-logos-svg-teams {
    width: 64px;
    height: 64px;
}

#nbaPlayers,
#nbaPlayers_length > label > select,
#nbaPlayers_filter > label > input,
#nbaPlayers_paginate > ul > li:nth-child(n) > a {
    background-color: #131313;
    color: #ffffff;
    font-size: small;
}

#nbaPlayer,
#nbaPlayer_length > label > select,
#nbaPlayer_filter > label > input,
#nbaPlayer_paginate > ul > li:nth-child(n) > a {
    background-color: #131313;
    color: #ffffff;
    font-size: small;
}

#standings,
#standings_length > label > select,
#standings_filter > label > input,
#standings_paginate > ul > li:nth-child(n) > a {
    background-color: #131313;
    color: #ffffff;
    font-size: small;
}

#seasonAvg,
#seasonAvg_length > label > select,
#seasonAvg_filter > label > input,
#seasonAvg_paginate > ul > li:nth-child(n) > a {
    background-color: #131313;
    color: #ffffff;
    font-size: small;
}

#fantasy,
#fantasy_length > label > select,
#fantasy_filter > label > input,
#fantasy_paginate > ul > li:nth-child(n) > a {
    background-color: #131313;
    color: #ffffff;
    font-size: small;
}

#nbaPlayers_paginate > ul > li:nth-child(n) > a:hover,
#seasonAvg > ul > li:nth-child(n) > a:hover
#nbaPlayer > ul > li:nth-child(n) > a:hover
#fantasy > ul > li:nth-child(n) > a:hover,
#standings > ul > li:nth-child(n) > a:hover {
    background-color: #0071BC;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #0071BC;
    color: #ffffff;
    cursor: pointer;
}

#formGroupQueryInput,
#formGroupPtsInput,
#formGroupRebInput,
#formGroupAstInput,
#formGroupBlkInput,
#formGroupStlInput,
#formGroupFgaInput,
#formGroupFgmInput,
#formGroupFtaInput,
#formGroupFtmInput,
#formGroup3pmInput,
#formGroupTovInput,
#formGroupDdInput,
#formGroupTdInput,
.form-select {
    background-color: #131313;
    color: #ffffff;
}

#formGroupQueryInput::placeholder {
    color: #ffffff;
}

#messageDiv {
    display: none;
    width: 80%;
    height: auto;
    margin: 2rem auto;
    background-color: #131313;
    font-size:larger;
    font-weight: 700;
    border-radius: 10px;
}

.table-headshots {
    width: 32px;
    height: 23px;
}

#player-headshot-div,
#player-details{
    height: 40vh;
}

#player-details > #content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}


#headshot-div {
    position: absolute;
    bottom: 0;
    width: 460px;
    height: 320px;
}

#player-headshot {
    width: auto;
    height: 100%;
    object-fit: cover;
}

.overlay {
    width: 100%;
    height: 40vh;
    border-radius: 10px;
    position: relative;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#multiplierModal > div > div > div.modal-header > button {
    background-color: red;
}

#multiplierModal > .modal-dialog > .modal-content {
    background-color: #131313;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}