@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: #222222;
    color:white;
}

.navbar, .card {
    background-color: #131313;
}

.navbar-brand {
    font-style: italic;
    font-weight: 700;
    font-size: 1.2rem;
}

#navbarSupportedContent > ul > li:nth-child(n) > a {
    font-size: 1.1rem;
    color: #ffffff;
    margin-top: 2px;
}

#navbarSupportedContent > ul > li:nth-child(n) > a:hover {
    color:#0071BC;
}

.btn-group-wrap {
    text-align: center;
}

div.btn-group {
    margin: 0 auto; 
    text-align: center;
    width: inherit;
    display: inline-block;
}

div.btn-group button {
    background-color: #131313;
}

div.btn-group button:hover {
    background-color: #0071BC;
}

.card-img-top {
    width: 100%;
    height: 30vw;
    object-fit: cover;
}

#team-logos-svg-teams {
    width: 64px;
    height: 64px;
}

#nbaPlayers,
#nbaPlayers_length > label > select,
#nbaPlayers_filter > label > input,
#nbaPlayers_paginate > ul > li:nth-child(n) > a {
    background-color: #131313;
    color: #ffffff;
    margin-top: 10px;
}

#nbaPlayers_paginate > ul > li:nth-child(n) > a:hover {
    background-color: #0071BC;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #0071BC;
    color: #ffffff;
}