<div class="btn-group-wrap mt-3 mb-3">
    <div class="btn-group" role="group" aria-label="Basic example">
        <a href="/nba/fantasy"><button type="button" class="btn btn-secondary">Fantasy</button></a>
        <a href="/nba/stats"><button type="button" class="btn btn-secondary">Stats</button></a>
        <a href="/nba/schedule"><button type="button" class="btn btn-secondary">Schedule</button></a>
        <a href="/nba/teams"><button type="button" class="btn btn-secondary">Teams</button></a>
        <a href="/nba/players"><button type="button" class="btn btn-secondary">Players</button></a>
        <a href="/nba/standings"><button type="button" class="btn btn-secondary">Standings</button>
      </a>
    </div>
</div>